#id_attachments_fieldset .filemanager {
    border: 1px solid #8f959e;
    padding: .5rem;
}

.path-mod-evokeportfolio .groupmember {
    display: inline-block;
    background-color: #140f3f;
    padding: .25rem .25rem;
    color: #fff;
    border-radius: 20px;
}

.path-mod-evokeportfolio .groupmember img {
    border-radius: 50%;
}

.path-mod-evokeportfolio .submissions .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.path-mod-evokeportfolio .submissions .header .userinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.path-mod-evokeportfolio .submissions .header .userinfo img,
.path-mod-evokeportfolio .submissions .header .userinfo h3 {
    display: inline-block;
}

.path-mod-evokeportfolio .submissions .header .userinfo h3 {
    margin-left: .25rem;
    margin-bottom: 0;
}

.path-mod-evokeportfolio .submissions .header .actions {
    flex-direction: row;
    margin-left: auto;
    flex-wrap: wrap;
}

.border-white {
    border: 2px solid #fff;
    padding: .5rem;
}

.img-rounded {
    border-radius: 50%;
}

.img-bordered {
    border: 2px solid #00f0a6;
}

.img-24 {
    width: 24px;
}

.submission {
    border-top: 1px solid #c3c3c3;
}

.submission:hover {
    background-color: #f1f1f1;
}

.submission.isteacher {
    background-color: #cbfced;
    border-top: 1px solid #00f0a6;
}

.submission.isteacher:hover {
    background-color: #c3f1e3;
}

.submissionheader h3 {
    color: #00f0a6;
}

.submissionheader img.userpicture {
    border-radius: 50%;
    border: 1px solid #00f0a6;
    width: 48px;
}

.submission .content {
    padding: .5rem 1rem;
}

.submission .content .comment {
    font-size: 75%;
    font-weight: 700;
}

.submission .content .attachment {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.submission .content .attachment .fileinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submission .content .attachment .filedownload {
    flex-direction: row;
    margin-left: auto;
    flex-wrap: wrap;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #ff0540;
    background-color: initial;
    text-align: left;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}

.accordion-button:after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.path-mod-evokeportfolio .card-header.chapter-header {
    background-color: #ff0540;
    color: #fff;
}

.path-mod-evokeportfolio .card-header.chapter-header .accordion-button {
    color: #fff;
}

.path-mod-evokeportfolio .card-header.portfolio-header {
    background-color: #cce6ea;
}

.path-mod-evokeportfolio .card-header.portfolio-header .accordion-button {
    color: #140f3f;
}
