#id_attachments_fieldset .filemanager{
    border: 1px solid #8f959e;
    padding: .5rem;
}

.path-mod-evokeportfolio .groupmember {
    display: inline-block;
    background-color: #140f3f;
    padding: .25rem .25rem;
    color: #fff;
    border-radius: 20px;
}

.path-mod-evokeportfolio .groupmember img {
    border-radius: 50%;
}

.path-mod-evokeportfolio .submissions .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.path-mod-evokeportfolio .submissions .header .userinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.path-mod-evokeportfolio .submissions .header .userinfo img,
.path-mod-evokeportfolio .submissions .header .userinfo h3 {
    display: inline-block;
}

.path-mod-evokeportfolio .submissions .header .userinfo h3 {
    margin-left: .25rem;
    margin-bottom: 0;
}

.path-mod-evokeportfolio .submissions .header .actions {
    flex-direction: row;
    margin-left: auto;
    flex-wrap: wrap;
}

.border-white {
    border: 2px solid #fff;
    padding: .5rem;
}

.img-rounded {
    border-radius: 50%;
}

.img-bordered {
    border: 2px solid #fff;
}

.img-24 {
    width: 24px;
}

.submission {
    border-top: 1px solid #c3c3c3;
}

.submission:hover {
    background-color: #f1f1f1;
}

.submission.isteacher {
    background-color: #cbfced;
    border-top: 1px solid #00f0a6;
}

.submission.isteacher:hover {
    background-color: #c3f1e3;
}

.submissionheader h3 {
    color: #00f0a6;
}

.submissionheader img {
    border-radius: 50%;
    border: 1px solid #00f0a6;
    width: 48px;
}

.submission .content {
    padding: .5rem 1rem;
}

.submission .content .comment {
    font-size: 75%;
    font-weight: 700;
}

.submission .content .attachment {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.submission .content .attachment .fileinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submission .content .attachment .filedownload {
    flex-direction: row;
    margin-left: auto;
    flex-wrap: wrap;
}