#id_attachments_fieldset .filemanager{
    border: 1px solid #8f959e;
    padding: .5rem;
}

.path-mod-evokeportfolio .groupmember {
    display: inline-block;
    background-color: #140f3f;
    padding: .25rem .25rem;
    color: #fff;
    border-radius: 20px;
}

.path-mod-evokeportfolio .groupmember img {
    border-radius: 50%;
}

.border-white {
    border: 2px solid #fff;
    padding: .5rem;
}

.img-rounded {
    border-radius: 50%;
}

.img-bordered {
    border: 2px solid #fff;
}

.img-24 {
    width: 24px;
}

.jumbotron.isteacher {
    background-color: #27c0e3;
}
