#page-mod-evokeportfolio-view.pagelayout-embedded,
#page-mod-evokeportfolio-submit.pagelayout-embedded,
#page-mod-evokeportfolio-submissions.pagelayout-embedded {
    margin: 0;
    padding: 1rem;
}

#id_attachments_fieldset .filemanager {
    border: 1px solid #8f959e;
    padding: .5rem;
}

.path-mod-evokeportfolio .groupmember {
    display: inline-block;
    background-color: #f1f0f0;
    padding: .5rem 1rem .5rem .5rem;
    margin: .25rem;
    color: #000;
    border-radius: 40px;
}

.path-mod-evokeportfolio .groupmember a {
    color: #000;
}

.path-mod-evokeportfolio .groupmember img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.path-mod-evokeportfolio .submissions .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.path-mod-evokeportfolio .submissions .header .actions {
    flex-direction: row;
    margin-left: auto;
    flex-wrap: wrap;
}

.path-mod-evokeportfolio .submissionheader .userpicture {
    width: 100px;
}

.border-white {
    border: 2px solid #fff;
    padding: .5rem;
}

.img-rounded {
    border-radius: 50%;
}

.img-bordered {
    border: 2px solid #00f0a6;
}

.img-24 {
    width: 24px;
}

/* Timeline posts. */
.path-blocks-evokehq .submissions .card,
.path-mod-evokeportfolio .submissions .card {
    margin-top: 0.5rem;
    border: 1px solid #d7dfe3;
}

.path-mod-evokeportfolio .submissions .userinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.path-mod-evokeportfolio .submissions .userinfo img,
.path-mod-evokeportfolio .submissions .userinfo h3 {
    display: inline-block;
}

.path-mod-evokeportfolio .submissions .userinfo h3 {
    margin-left: .25rem;
    margin-bottom: 0;
}

.path-blocks-evokehq .submissions .userinfo,
.path-mod-evokeportfolio .submissions .userinfo {
    display: flex;
    margin-bottom: 1rem;
}

.path-blocks-evokehq .submissions .userinfo .userimg img,
.path-mod-evokeportfolio .submissions .userinfo .userimg img {
    display: inline;
    width: 42px;
    border-radius: 50%;
    border: 1px solid #ededed;
}

.path-blocks-evokehq .submissions .userinfo .nameanddate,
.path-mod-evokeportfolio .submissions .userinfo .nameanddate {
    margin-left: .5rem;
}

.path-blocks-evokehq .submissions .userinfo .nameanddate .username,
.path-mod-evokeportfolio .submissions .userinfo .nameanddate .username {
    font-weight: 700;
    margin-bottom: 0;
}

.path-mod-evokeportfolio .submissions .userinfo .nameanddate .groupmembers img,
.path-blocks-evokehq .submissions .userinfo .nameanddate .groupmembers img {
    width: 42px;
    border-radius: 50%;
}

.path-mod-evokeportfolio .submissions .submissioncomment .userinfo {
    justify-content: initial;
    align-items: initial;
}

.path-blocks-evokehq .submissions .post .content .attachment,
.path-mod-evokeportfolio .submissions .post .content .attachment {
    border: 1px solid #d7dfe3;
    padding: .5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.path-blocks-evokehq .submissions .post .content .attachment img,
.path-mod-evokeportfolio .submissions .post .content .attachment img {
    max-width: 100%;
    max-height: 460px;
}

.path-blocks-evokehq .submissions .post .content .attachment .fileinfo,
.path-mod-evokeportfolio .submissions .post .content .attachment .fileinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.path-blocks-evokehq .submissions .post .content .attachment .filedownload,
.path-mod-evokeportfolio .submissions .post .content .attachment .filedownload {
    flex-direction: row;
    margin-left: auto;
    flex-wrap: wrap;
}

.path-blocks-evokehq .submissions .add-comment,
.path-mod-evokeportfolio .submissions .add-comment {
    display: flex;
    flex-direction: row;
    padding: 1rem 4rem;
    background-color: #f1f0f0;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.path-blocks-evokehq .submissions .add-comment .userimg,
.path-mod-evokeportfolio .submissions .add-comment .userimg {
    border-radius: 50%;
    height: calc(1.5em + .75rem + 2px);
    align-self: flex-start;
    position: relative;
    display: block;
    border: 1px solid #ededed;
    margin-right: .5rem;
}

.path-blocks-evokehq .submissions .add-comment .input-group,
.path-mod-evokeportfolio .submissions .add-comment .input-group {
    display: block;
    width: 100%;
}

.path-mod-evokeportfolio .modal-body .post-comment-input,
.path-blocks-evokehq .submissions .add-comment .post-comment-input,
.path-mod-evokeportfolio .submissions .add-comment .post-comment-input {
    position: relative;
    width: 100%;
    margin-bottom: 0;
    display: block;
    height: 80px;
    padding: .375rem .75rem;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: none;
    min-height: 32px;
    cursor: text;
}

.path-mod-evokeportfolio .modal-body .post-comment-input:focus,
.path-blocks-evokehq .submissions .add-comment .post-comment-input:focus,
.path-mod-evokeportfolio .submissions .add-comment .post-comment-input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #6eb5f3;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(17, 119, 209, .25);
    box-shadow: 0 0 0 0.2rem rgba(17, 119, 209, .25);
}

.path-mod-evokeportfolio .modal-body .post-comment-input[contenteditable="true"]:empty:before,
.path-blocks-evokehq .submissions .add-comment .post-comment-input[contenteditable="true"]:empty:before,
.path-mod-evokeportfolio .submissions .add-comment .post-comment-input[contenteditable="true"]:empty:before {
    content: attr(placeholder);
    display: block;
    color: #ccc;
}

.path-mod-evokeportfolio .modal-body .post-comment-input a.usermentioned,
.path-blocks-evokehq .submissions .add-comment .post-comment-input a.usermentioned,
.path-mod-evokeportfolio .submissions .add-comment .post-comment-input a.usermentioned {
    padding: 0 .5rem;
    background-color: #d9edff;
    border-radius: 12px;
    display: inline-block;
}

/* Timeline submission reactions. */
.path-blocks-evokehq .submissions .submission .post,
.path-mod-evokeportfolio .submissions .submission .post {
    background-color: #e5e7e6;
    padding: 1.25rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.path-blocks-evokehq .submissions .reactions,
.path-mod-evokeportfolio .submissions .reactions {
    padding: .5rem 0;
}

.path-blocks-evokehq .submissions .reactions .status .fa,
.path-mod-evokeportfolio .submissions .reactions .status .fa {
    background-color: #ff0540;
    padding: 0.35rem 0.4rem;
    border-radius: 50%;
    color: #fff;
}

.path-blocks-evokehq .submissions .reactions .actions,
.path-mod-evokeportfolio .submissions .reactions .actions {
    display: flex;
    flex-wrap: wrap;
}

.path-blocks-evokehq .submissions .reactions .actions .button,
.path-mod-evokeportfolio .submissions .reactions .actions .button {
    text-align: center;
    flex: 0 0 auto;
    cursor: pointer;
    padding: .25rem .5rem;
    border-radius: 5px;
}

.path-blocks-evokehq .submissions .reactions .actions .likebutton .fa:before,
.path-mod-evokeportfolio .submissions .reactions .actions .likebutton .fa:before {
    content: "\f08a";
}

.path-blocks-evokehq .submissions .reactions .actions .likebutton.hasreacted .fa:before,
.path-mod-evokeportfolio .submissions .reactions .actions .likebutton.hasreacted .fa:before {
    content: "\f004";
}

.path-blocks-evokehq .submissions .reactions .actions .button:hover,
.path-mod-evokeportfolio .submissions .reactions .actions .button:hover {
    background-color: #ededed;
}

.path-blocks-evokehq .submissions .reactions .actions .button.hasreacted,
.path-mod-evokeportfolio .submissions .reactions .actions .button.hasreacted {
    color: #ff0540;
}

/* Timeline submission commments. */
.path-blocks-evokehq .submissions .fadeIn,
.path-mod-evokeportfolio .submissions .fadeIn {
    -webkit-animation: mod-evokeportfolio_fadein 1s ease-in-out;
    -moz-animation: mod-evokeportfolio_fadein 1s ease-in-out;
    -o-animation: mod-evokeportfolio_fadein 1s ease-in-out;
    animation: mod-evokeportfolio_fadein 1s ease-in-out;
}

.path-blocks-evokehq .submissions .submissioncomment,
.path-mod-evokeportfolio .submissions .submissioncomment {
    padding: 1rem 4rem;
    background-color: #f1f0f0;
}

.path-blocks-evokehq .submissions .submissioncomment .text a,
.path-mod-evokeportfolio .submissions .submissioncomment .text a {
    font-weight: 700;
}

/* Some animations. */
@-webkit-keyframes mod-evokeportfolio_fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes mod-evokeportfolio_fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes mod-evokeportfolio_fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mod-evokeportfolio_fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Mentions */
.path-blocks-evokehq .tribute-container,
.path-mod-evokeportfolio .tribute-container {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    max-height: 300px;
    max-width: 500px;
    overflow: auto;
    display: block;
    z-index: 999999;
}

.path-blocks-evokehq .tribute-container ul,
.path-mod-evokeportfolio .tribute-container ul {
    margin: 0;
    margin-top: 2px;
    padding: 0;
    list-style: none;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.path-blocks-evokehq .tribute-container li,
.path-mod-evokeportfolio .tribute-container li {
    padding: .75rem .5rem;
    cursor: pointer;
}

.path-blocks-evokehq .tribute-container li img,
.path-mod-evokeportfolio .tribute-container li img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: .5rem;
}

.path-blocks-evokehq .tribute-container li.highlight,
.path-mod-evokeportfolio .tribute-container li.highlight {
    color: #fff !important; /* stylelint-disable-line declaration-no-important */
    background-color: #1177d1;
}

.path-blocks-evokehq .tribute-container li span,
.path-mod-evokeportfolio .tribute-container li span {
    font-weight: bold;
}

.path-blocks-evokehq .tribute-container li.no-match,
.path-mod-evokeportfolio .tribute-container li.no-match {
    cursor: default;
}

.path-blocks-evokehq .tribute-container .menu-highlighted,
.path-mod-evokeportfolio .tribute-container .menu-highlighted {
    font-weight: bold;
}

.path-mod-evokeportfolio fieldset {
    border: 1px solid #d7dfe3;
    padding: 0 1rem 1rem 1rem;
    margin-bottom: 1rem;
}

.path-mod-evokeportfolio fieldset legend {
    margin-bottom: 0;
    width: initial;
    padding: 0 0.5rem;
}

.path-mod-evokeportfolio .accordion .box-portfolio {
    background-color: #f0f0f0;
    border-left: 8px solid #000;
    padding: 1rem;
    margin-bottom: 1rem;
}

.path-mod-evokeportfolio .accordion .card {
    margin-bottom: 1rem;
}

.path-mod-evokeportfolio .accordion .card-header {
    background-color: #000;
    width: fit-content;
    max-width: 100%;
    padding: 0;
}

.path-mod-evokeportfolio .accordion .card-header .btn {
    font-family: "Bungee", cursive;
    font-size: 1.40625rem;
    color: #fff;
    padding-right: 0;
}

.path-mod-evokeportfolio .accordion .card-header .btn .icon {
    margin-right: 0;
    padding: 20px;
    margin-left: 10px;
    background-color: #f00;
}

.path-mod-evokeportfolio .accordion .card-header .btn.collapsed .icon .fa {
    font-size: 20px;
}

.path-mod-evokeportfolio .accordion .card-header .btn.collapsed .icon .fa:before {
    content: "\f067";
}

.path-mod-evokeportfolio .accordion .card-header .btn .icon .fa:before {
    content: "\f00d";
}

.path-mod-evokeportfolio .text-mint {
    color: #00f0a6;
}

.path-mod-evokeportfolio #portfolios-tab {
    border-bottom: none;
}

.path-mod-evokeportfolio #portfolios-tab .nav-item .nav-link {
    color: #000;
}

.path-mod-evokeportfolio #portfolios-tab .nav-item:not(:first-child) {
    margin-left: .5rem;
}

.path-mod-evokeportfolio #portfolios-tab .nav-item .nav-link.active {
    background-color: #00f0a6;
}

.thumbnail-container {
    position: relative;
    cursor: zoom-in;
}

.thumbnail-container:hover:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f00e';
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 60px;
}

/* The Modal (background) */
#image-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2000; /* Sit on top */
    padding-top: 40px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
#image-modal .modal-content {
    margin: auto;
    display: block;
    max-width: 85%;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* The Close Button */
#image-modal .close {
    position: absolute;
    top: 30px;
    right: 50px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#image-modal .close:hover,
#image-modal .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    #image-modal .modal-content {
        width: 95%;
    }
}
