#id_attachments_fieldset .filemanager {
    border: 1px solid #8f959e;
    padding: .5rem;
}

.path-mod-evokeportfolio .groupmember {
    display: inline-block;
    background-color: #140f3f;
    padding: .25rem .25rem;
    color: #fff;
    border-radius: 20px;
}

.path-mod-evokeportfolio .groupmember img {
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.path-mod-evokeportfolio .submissions .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.path-mod-evokeportfolio .submissions .header .userinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.path-mod-evokeportfolio .submissions .header .userinfo img,
.path-mod-evokeportfolio .submissions .header .userinfo h3 {
    display: inline-block;
}

.path-mod-evokeportfolio .submissions .header .userinfo h3 {
    margin-left: .25rem;
    margin-bottom: 0;
}

.path-mod-evokeportfolio .submissions .header .actions {
    flex-direction: row;
    margin-left: auto;
    flex-wrap: wrap;
}

.border-white {
    border: 2px solid #fff;
    padding: .5rem;
}

.img-rounded {
    border-radius: 50%;
}

.img-bordered {
    border: 2px solid #00f0a6;
}

.img-24 {
    width: 24px;
}

/* Timeline posts. */
.path-blocks-evokehq .submissions .card,
.path-mod-evokeportfolio .submissions .card {
    margin-top: 0.5rem;
    border: 1px solid #d7dfe3;
}

.path-blocks-evokehq .submissions .post .userinfo,
.path-mod-evokeportfolio .submissions .post .userinfo {
    display: flex;
    margin-bottom: 1rem;
}

.path-blocks-evokehq .submissions .post .userinfo .userimg img,
.path-mod-evokeportfolio .submissions .post .userinfo .userimg img {
    display: inline;
    width: 42px;
    border-radius: 50%;
    border: 1px solid #ededed;
}

.path-blocks-evokehq .submissions .post .userinfo .nameanddate,
.path-mod-evokeportfolio .submissions .post .userinfo .nameanddate {
    margin-left: .5rem;
}

.path-blocks-evokehq .submissions .post .userinfo .nameanddate .username,
.path-mod-evokeportfolio .submissions .post .userinfo .nameanddate .username {
    font-weight: 700;
    margin-bottom: 0;
}

.path-blocks-evokehq .submissions .post .content .attachment,
.path-mod-evokeportfolio .submissions .post .content .attachment {
    border: 1px solid #d7dfe3;
    padding: .5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.path-blocks-evokehq .submissions .post .content .attachment img,
.path-mod-evokeportfolio .submissions .post .content .attachment img {
    max-width: 100%;
    max-height: 460px;
}

.path-blocks-evokehq .submissions .post .content .attachment .fileinfo,
.path-mod-evokeportfolio .submissions .post .content .attachment .fileinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.path-blocks-evokehq .submissions .post .content .attachment .filedownload,
.path-mod-evokeportfolio .submissions .post .content .attachment .filedownload {
    flex-direction: row;
    margin-left: auto;
    flex-wrap: wrap;
}

.path-blocks-evokehq .submissions .post .add-comment,
.path-mod-evokeportfolio .submissions .post .add-comment {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #ededed;
    margin-top: 1rem;
    padding-top: 1rem;
}

.path-blocks-evokehq .submissions .post .add-comment .userimg,
.path-mod-evokeportfolio .submissions .post .add-comment .userimg {
    border-radius: 50%;
    height: calc(1.5em + .75rem + 2px);
    align-self: flex-start;
    position: relative;
    display: block;
    border: 1px solid #ededed;
    margin-right: .5rem;
}

.path-blocks-evokehq .submissions .post .add-comment .post-comment-input,
.path-mod-evokeportfolio .submissions .post .add-comment .post-comment-input {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: none;
    min-height: 32px;
    cursor: text;
}

.path-blocks-evokehq .submissions .post .add-comment .post-comment-input:focus,
.path-mod-evokeportfolio .submissions .post .add-comment .post-comment-input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #6eb5f3;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(17, 119, 209, .25);
    box-shadow: 0 0 0 0.2rem rgba(17, 119, 209, .25);
}

.path-blocks-evokehq .submissions .post .add-comment .post-comment-input[contenteditable="true"]:empty:before,
.path-mod-evokeportfolio .submissions .post .add-comment .post-comment-input[contenteditable="true"]:empty:before {
    content: attr(placeholder);
    display: block;
    color: #ccc;
}

.path-blocks-evokehq .submissions .post .add-comment .post-comment-input a.usermentioned,
.path-mod-evokeportfolio .submissions .post .add-comment .post-comment-input a.usermentioned {
    padding: 0 .5rem;
    background-color: #d9edff;
    border-radius: 12px;
    display: inline-block;
}

.path-blocks-evokehq .submissions .post .add-comment .input-group-append .btn,
.path-mod-evokeportfolio .submissions .post .add-comment .input-group-append .btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Timeline submission reactions. */
.path-blocks-evokehq .submissions .reactions,
.path-mod-evokeportfolio .submissions .reactions {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: .5rem 0;
}

.path-blocks-evokehq .submissions .reactions hr,
.path-mod-evokeportfolio .submissions .reactions hr {
    margin: .5rem 0;
    border-top: 1px solid #ededed;
}

.path-blocks-evokehq .submissions .reactions .status .fa,
.path-mod-evokeportfolio .submissions .reactions .status .fa {
    background-color: #ff0540;
    padding: 0.35rem 0.4rem;
    border-radius: 50%;
    color: #fff;
}

.path-blocks-evokehq .submissions .reactions .actions,
.path-mod-evokeportfolio .submissions .reactions .actions {
    display: flex;
    flex-wrap: wrap;
}

.path-blocks-evokehq .submissions .reactions .actions .button,
.path-mod-evokeportfolio .submissions .reactions .actions .button {
    text-align: center;
    flex: 0 0 auto;
    width: 50%;
    cursor: pointer;
    padding: .25rem 0;
    border-radius: 5px;
}

.path-blocks-evokehq .submissions .reactions .actions .likebutton .fa:before,
.path-mod-evokeportfolio .submissions .reactions .actions .likebutton .fa:before {
    content: "\f087";
}

.path-blocks-evokehq .submissions .reactions .actions .likebutton.hasreacted .fa:before,
.path-mod-evokeportfolio .submissions .reactions .actions .likebutton.hasreacted .fa:before {
    content: "\f164";
}

.path-blocks-evokehq .submissions .reactions .actions .button:hover,
.path-mod-evokeportfolio .submissions .reactions .actions .button:hover {
    background-color: #ededed;
}

.path-blocks-evokehq .submissions .reactions .actions .button.hasreacted,
.path-mod-evokeportfolio .submissions .reactions .actions .button.hasreacted {
    color: #ff0540;
}

/* Timeline submission commments. */
.path-blocks-evokehq .submissions .fadeIn,
.path-mod-evokeportfolio .submissions .fadeIn {
    -webkit-animation: mod-evokeportfolio_fadein 1s ease-in-out;
    -moz-animation: mod-evokeportfolio_fadein 1s ease-in-out;
    -o-animation: mod-evokeportfolio_fadein 1s ease-in-out;
    animation: mod-evokeportfolio_fadein 1s ease-in-out;
}

.path-blocks-evokehq .submissions .post .submissioncomment,
.path-mod-evokeportfolio .submissions .post .submissioncomment {
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
}

.path-blocks-evokehq .submissions .post .submissioncomment .userimg,
.path-mod-evokeportfolio .submissions .post .submissioncomment .userimg {
    align-self: flex-start;
    position: relative;
    display: block;
}

.path-blocks-evokehq .submissions .post .submissioncomment .userimg img,
.path-mod-evokeportfolio .submissions .post .submissioncomment .userimg img {
    display: inline;
    width: 42px;
    border-radius: 50%;
    border: 1px solid #ededed;
}

.path-blocks-evokehq .submissions .post .submissioncomment .entry,
.path-mod-evokeportfolio .submissions .post .submissioncomment .entry {
    flex: 1;
    padding-left: .4rem;
}

.path-blocks-evokehq .submissions .post .submissioncomment .entry .entry-content,
.path-mod-evokeportfolio .submissions .post .submissioncomment .entry .entry-content {
    padding: .5rem 1rem;
    border-radius: 1rem;
    background-color: #ededed;
    display: inline-block;
}

.path-blocks-evokehq .submissions .post .submissioncomment .entry .entry-content .name,
.path-mod-evokeportfolio .submissions .post .submissioncomment .entry .entry-content .name {
    font-weight: 700;
    margin-bottom: 0;
}

.path-blocks-evokehq .submissions .post .submissioncomment .entry .entry-content .name .small,
.path-mod-evokeportfolio .submissions .post .submissioncomment .entry .entry-content .name .small {
    font-size: 70%;
    margin-bottom: 0;
    border: 1px solid #ededed;
    border-radius: 20px;
    padding: 0 4px;
}

.path-blocks-evokehq .submissions .post .submissioncomment .entry .entry-content .text,
.path-mod-evokeportfolio .submissions .post .submissioncomment .entry .entry-content .text {
    margin-bottom: 0;
}

.path-blocks-evokehq .submissions .post .submissioncomment .entry .entry-content .text a,
.path-mod-evokeportfolio .submissions .post .submissioncomment .entry .entry-content .text a {
    font-weight: 700;
}

/* Some animations. */
@-webkit-keyframes mod-evokeportfolio_fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes mod-evokeportfolio_fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes mod-evokeportfolio_fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mod-evokeportfolio_fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Mentions */
.path-blocks-evokehq .tribute-container,
.path-mod-evokeportfolio .tribute-container {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    max-height: 300px;
    max-width: 500px;
    overflow: auto;
    display: block;
    z-index: 999999;
}

.path-blocks-evokehq .tribute-container ul,
.path-mod-evokeportfolio .tribute-container ul {
    margin: 0;
    margin-top: 2px;
    padding: 0;
    list-style: none;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.path-blocks-evokehq .tribute-container li,
.path-mod-evokeportfolio .tribute-container li {
    padding: .75rem .5rem;
    cursor: pointer;
}

.path-blocks-evokehq .tribute-container li img,
.path-mod-evokeportfolio .tribute-container li img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: .5rem;
}

.path-blocks-evokehq .tribute-container li.highlight,
.path-mod-evokeportfolio .tribute-container li.highlight {
    color: #fff !important; /* stylelint-disable-line declaration-no-important */
    background-color: #1177d1;
}

.path-blocks-evokehq .tribute-container li span,
.path-mod-evokeportfolio .tribute-container li span {
    font-weight: bold;
}

.path-blocks-evokehq .tribute-container li.no-match,
.path-mod-evokeportfolio .tribute-container li.no-match {
    cursor: default;
}

.path-blocks-evokehq .tribute-container .menu-highlighted,
.path-mod-evokeportfolio .tribute-container .menu-highlighted {
    font-weight: bold;
}

#page-mod-evokeportfolio-index fieldset {
    border: 1px solid #d7dfe3;
    padding: 0 1rem 1rem 1rem;
    margin-bottom: 1rem;
}

#page-mod-evokeportfolio-index legend {
    margin-bottom: 0;
    width: initial;
    padding: 0 0.5rem;
}