<div class="card-columns">
    {{#evokations}}
        <div class="card shadow-none border">
            <div class="card-body">
                <h5 class="card-title">{{{name}}}</h5>
                <p class="card-text">{{{intro}}}</p>
                {{#lastupdated}}
                    <p class="card-text text-right mb-0"><small class="text-muted">{{#str}}lastupdated, mod_evokeportfolio, {{{.}}}{{/str}}</small></p>
                {{/lastupdated}}
                <p class="card-text text-right mb-0"><small class="text-muted">{{#str}}totalsubmissions, mod_evokeportfolio, {{{totalsubmissions}}}{{/str}}</small></p>
            </div>
            <div class="card-footer bg-white text-right">
                <a class="btn btn-outline-primary" href="{{config.wwwroot}}/mod/evokeportfolio/view.php?portfolioid={{{id}}}">{{#str}}page_evokation_view_button, mod_evokeportfolio{{/str}}</a>
            </div>
        </div>
    {{/evokations}}
</div>

{{^evokations}}
    <div class="alert alert-warning" role="alert">
        <h3 class="alert-heading">{{#str}}noevokation, mod_evokeportfolio{{/str}}</h3>

        <a class="btn btn-primary mt-2 text-white" href="{{config.wwwroot}}/course/view.php?id={{{courseid}}}">
        {{#str}}backtomission, mod_evokeportfolio{{/str}}
        </a>
    </div>
{{/evokations}}