<h2>Chapter grading: {{{chaptername}}}</h2>

<div class="submissionheader row">
    <div class="col-md-9">
        <h3>{{#str}}user{{/str}}: {{userfullname}}</h3>
        {{#usergroup}}
            <h4>{{#str}}group{{/str}}: {{usergroup}}</h4>
        {{/usergroup}}
        <a href="#"
           data-action="grade-student-modal"
           class="btn btn-primary mb-4"
           data-userid="{{{userid}}}"
           data-chapterid="{{{chapterid}}}">
            {{#str}}page_viewsubmission_addgrade, mod_evokeportfolio{{/str}}
        </a>
    </div>
    <div class="col-md-3 text-right">
        <img src="{{userpicture}}" alt="{{userfullname}}" class="img-responsive userpicture">
    </div>
</div>

<div id="submissions" data-courseid="{{{courseid}}}">
    {{#portfolioswithusersubmissions}}
        <fieldset>
            <legend>{{name}}</legend>

            <div class="submissions mt-2" data-courseid="{{{courseid}}}">
                {{#submissions}}
                    {{#hasevaluation}}
                        {{> mod_evokeportfolio/submission }}
                    {{/hasevaluation}}
                {{/submissions}}
            </div>
        </fieldset>
    {{/portfolioswithusersubmissions}}
</div>

{{#js}}
    require([
        'mod_evokeportfolio/gradeuserchapter',
        'mod_evokeportfolio/addcomment',
        'mod_evokeportfolio/tribute_init',
        'mod_evokeportfolio/togglelike'
    ], function(GradeUserChapter, AddComment, TributeInit, ToggleLike) {
        GradeUserChapter.init('[data-action=grade-student-modal]', {{{contextid}}}, {{{chapterid}}}, {{{userid}}});

        AddComment.init();

        TributeInit.init();

        ToggleLike.init();
    });
{{/js}}