<h2>{{{name}}}</h2>

<div id="intro" class="box py-3 generalbox boxaligncenter">{{{intro}}}</div>

<div class="submissionssummary">
    {{#groupactivity}}
        <h3>{{#str}}groupactivity, mod_evokeportfolio{{/str}}</h3>
        <hr>
        <h4>{{#str}}group{{/str}}: {{groupname}}</h4>
        <p>
            <b>{{#str}}groupmembers{{/str}}</b>:
            {{#groupmembers}}
                <div class="groupmember">
                    <img src="{{userpicture}}" alt="{{fullname}}"> {{fullname}}
                </div>
            {{/groupmembers}}
        </p>
    {{/groupactivity}}
    {{^groupactivity}}
        <h3>{{#str}}individualctivity, mod_evokeportfolio{{/str}}</h3>
        <hr>
        <h4>{{#str}}user{{/str}}: {{userfullname}}</h4>
    {{/groupactivity}}
</div>

<hr>

{{#groupactivity}}
    <h5>{{#str}}groupgradingmode, mod_evokeportfolio{{/str}}: {{groupgradingmodetext}}</h5>
{{/groupactivity}}

{{{ form }}}