<div class="card-deck">
    {{#chapters}}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{{name}}}</h5>
                <ul>
                    {{#portfolios}}
                        <li>{{{name}}}</li>
                    {{/portfolios}}
                </ul>
            </div>
            <div class="card-footer">
                <a href="{{{config.wwwroot}}}/mod/evokeportfolio/gradingusers.php?id={{{id}}}" class="btn btn-sm btn-primary">Evaluate chapter</a>
            </div>
        </div>
    {{/chapters}}
</div>