<form action="{{baseurl}}" method="GET">
    <input name="id" type="hidden" value="{{courseid}}">

    {{#haschapters}}
        <div class="row">
            <div class="col-8">
                <h2>Portfolio grading</h2>
            </div>
            <div class="col-4">
                <select id="chapter" name="chapter" class="form-control">
                    {{#chapters}}
                        <option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                    {{/chapters}}
                </select>
            </div>
        </div>
    {{/haschapters}}

    <div class="row my-4">
        <div class="col-md-6">
            <select id="portfolio" name="portfolio" class="form-control">
                <option value="0">All activities</option>

                {{#portfolios}}
                    <option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                {{/portfolios}}
            </select>
        </div>
        <div class="col-md-6">
            <select id="group" name="group" class="form-control">
                <option value="0">All groups</option>

                {{#groups}}
                    <option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                {{/groups}}
            </select>
        </div>
    </div>
</form>

{{#js}}
    require(['jquery',], function($) {
        $('#chapter').on('change', function(event) {
            event.preventDefault();

            $('#portfolio').val(0);

            this.form.submit();
        });

        $('#portfolio, #group').on('change', function(event) {
            event.preventDefault();

            this.form.submit();
        });
    });
{{/js}}