{{{filters}}}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <button class="nav-link active" id="myportfolio-tab" data-toggle="tab" data-target="#myportfolio" type="button" role="tab" aria-controls="myportfolio" aria-selected="true">My portfolio</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="teamportfolio-tab" data-toggle="tab" data-target="#teamportfolio" type="button" role="tab" aria-controls="teamportfolio" aria-selected="false">Team portfolio</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" id="networkportfolio-tab" data-toggle="tab" data-target="#networkportfolio" type="button" role="tab" aria-controls="networkportfolio" aria-selected="false">Network portfolio</button>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active p-2" id="myportfolio" role="tabpanel" aria-labelledby="myportfolio-tab">
        {{#portfolios}}
            <fieldset class="fieldset" data-portfolioid="{{id}}">
                <legend>{{name}}</legend>

                <div id="submissions" class="submissions mt-2" data-courseid="{{{courseid}}}">
                    {{#submissions}}
                        <div class="card card-body">
                            <div class="post mainpost" data-id="{{id}}">
                                <div class="userinfo">
                                    <div class="userimg">
                                        <img src="{{{usersubmissionpicture}}}" alt="{{{usersubmissionfullname}}}">
                                    </div>
                                    <div class="nameanddate">
                                        <p class="username">{{{usersubmissionfullname}}}</p>
                                        <span class="small">{{{humantimecreated}}}</span>
                                    </div>
                                    <div class="usergradeinfo ml-auto">
                                        {{#grade}}
                                            <span class="badge badge-success">Assessment: {{{grade}}}</span>
                                        {{/grade}}
                                        {{^grade}}
                                            <span class="badge badge-primary">Not yet assessed</span>
                                        {{/grade}}
                                    </div>
                                </div>
                                <div class="content">
                                    {{#comment}}
                                        <div class="comment">
                                            {{{.}}}
                                        </div>
                                    {{/comment}}

                                    {{#hasattachments}}
                                        {{#attachments}}
                                            <div class="attachment">
                                                {{#isimage}}
                                                    <img src="{{fileurl}}" class="img-responsive" alt="{{filename}}">
                                                {{/isimage}}
                                                {{^isimage}}
                                                    <div class="fileinfo">
                                                        <i class="fa fa-file-pdf-o"></i>&nbsp;{{#str}}page_submissions_portfolioattachment, mod_evokeportfolio{{/str}}
                                                    </div>
                                                    <div class="filedownload">
                                                        <a href="{{fileurl}}" class="btn btn-secondary btn-sm">{{#str}}downloadfile, mod_evokeportfolio{{/str}}</a>
                                                    </div>
                                                {{/isimage}}
                                            </div>
                                        {{/attachments}}
                                    {{/hasattachments}}
                                </div>

                                <div class="reactions">
                                    <div class="status">
                                        {{#reactionstring}}
                                            <i class="fa fa-thumbs-up"></i> {{{reactionstring}}}
                                        {{/reactionstring}}
                                    </div>

                                    <hr>

                                    <div class="actions">
                                        <div class="button likebutton {{#userreacted}}hasreacted{{/userreacted}}">
                                            {{#userreacted}}
                                                <i class="fa "></i>
                                            {{/userreacted}}
                                            {{^userreacted}}
                                                <i class="fa "></i>
                                            {{/userreacted}}
                                            {{#str}}reaction_like, mod_evokeportfolio{{/str}}
                                        </div>
                                        <div class="button commentbutton">
                                            <i class="fa fa-commenting-o"></i> {{#str}}reaction_comment, mod_evokeportfolio{{/str}}
                                        </div>
                                    </div>
                                </div>

                                {{#comments}}
                                    <div class="submissioncomment">
                                        <div class="userimg">
                                            <img src="{{{commentuserpicture}}}" alt="{{{commentuserfullname}}}">
                                        </div>
                                        <div class="entry">
                                            <div class="entry-content">
                                                <p class="name">{{{commentuserfullname}}}</p>
                                                <p class="text">{{{text}}}</p>
                                            </div>
                                        </div>
                                    </div>
                                {{/comments}}

                                <div class="add-comment">
                                    <img src="{{{userpicture}}}" class="userimg" alt="{{{userfullname}}}">

                                    <div class="input-group">
                                        <p class="post-comment-input" placeholder="{{#str}}writeacomment, mod_evokeportfolio{{/str}}" contenteditable="true" data-tribute="true"></p>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-primary post-comment-btn" type="button">
                                                <i class="fa fa-commenting-o"></i> {{#str}}comment, mod_evokeportfolio{{/str}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/submissions}}
                </div>
            </fieldset>
        {{/portfolios}}
    </div>
    <div class="tab-pane fade" id="teamportfolio" role="tabpanel" aria-labelledby="teamportfolio-tab">
        <p>teamportfolio</p>
    </div>
    <div class="tab-pane fade" id="networkportfolio" role="tabpanel" aria-labelledby="networkportfolio-tab">
        <p>networkportfolio</p>
    </div>
</div>

{{#js}}
    require([
        'mod_evokeportfolio/addcomment',
        'mod_evokeportfolio/tribute_init',
        'mod_evokeportfolio/comment',
        'mod_evokeportfolio/togglelike',
        'mod_evokeportfolio/addgrade'
    ], function(AddComment, TributeInit, Comment, ToggleLike, AddGrade) {
        AddComment.init();

        TributeInit.init();

        Comment.init();

        ToggleLike.init();
    });
{{/js}}