<h2>{{#str}}pluginname, mod_evokeportfolio{{/str}}</h2>

<h3 class="text-mint">{{#str}}assignments, mod_evokeportfolio{{/str}}</h3>

{{^chapters}}
    <div class="alert alert-warning" role="alert">
        <h3 class="alert-heading">{{#str}}nochapters, mod_evokeportfolio{{/str}}</h3>

        <a class="btn btn-primary mt-2 text-white" href="{{config.wwwroot}}/course/view.php?id={{{courseid}}}">
         {{#str}}backtomission, mod_evokeportfolio{{/str}}
        </a>
    </div>
{{/chapters}}

<div class="accordion" id="accordion-chapters">
    {{#chapters}}
        <div class="card">
            <div class="card-header" id="chapter-{{{id}}}">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-chapter-{{{id}}}" aria-expanded="false" aria-controls="collapse-chapter-{{{id}}}">
                    {{{name}}}
                    <span class="icon">
                        <i class="fa"></i>
                    </span>
                </button>
            </div>

            <div id="collapse-chapter-{{{id}}}" class="collapse" aria-labelledby="chapter-{{{id}}}" data-parent="#accordion-chapters">
                {{#portfolios}}
                    <div class="box-portfolio">
                        <a href="{{config.wwwroot}}/mod/evokeportfolio/view.php?portfolioid={{{id}}}">
                            <h5>{{{name}}}</h5>
                        </a>
                        <p class="mb-0">{{{intro}}}</p>
                    </div>
                {{/portfolios}}
            </div>
        </div>
    {{/chapters}}
</div>
