<h2>{{{name}}}</h2>

<div class="text-right mb-3">
    <a href="#"
       class="btn btn-primary" data-action="create-section-modal">
        <i class="fa fa-plus-circle"></i> {{#str}}createsection, mod_evokeportfolio{{/str}}
    </a>
</div>

<table class="table table-bordered table-hover table-evokeportfolio-sections">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">{{#str}}name, mod_evokeportfolio{{/str}}</th>
        <th scope="col">{{#str}}actions, mod_evokeportfolio{{/str}}</th>
    </tr>
    </thead>
    <tbody>
    {{#sections}}
        <tr>
            <th scope="row">{{{id}}}</th>
            <td>{{{name}}}</td>
            <td style="width: 120px; text-align: center;">
                <a href="#" data-id="{{id}}" data-name="{{name}}" class="btn btn-warning btn-sm edit-evokeportfolio-section"><i class="fa fa-pencil-square-o text-white"></i></a>
                {{^hassubmission}}
                    <a href="#" data-id="{{id}}" class="btn btn-danger btn-sm delete-evokeportfolio-section"><i class="fa fa-trash-o"></i></a>
                {{/hassubmission}}
            </td>
        </tr>
    {{/sections}}
    </tbody>
</table>

{{#js}}
    require(['mod_evokeportfolio/createsection', 'mod_evokeportfolio/editsection', 'mod_evokeportfolio/deletesection'], function(CreateSection, EditSection, DeleteSection) {
        CreateSection.init('[data-action=create-section-modal]', {{{contextid}}}, {{{id}}});

        EditSection.init({{{contextid}}}, {{{id}}});

        DeleteSection.init();
    });
{{/js}}