<div id="submissions" class="submissions mt-2" data-courseid="{{{courseid}}}">
    {{^isdelayed}}
        {{#itsme}}
            <div class="actions">
                <a class="btn btn-primary" href="{{config.wwwroot}}/mod/evokeportfolio/submit.php?id={{cmid}}&sectionid={{sectionid}}{{#embed}}&embed=1{{/embed}}">
                    {{#str}}page_view_addsubmission, mod_evokeportfolio{{/str}}
                </a>
            </div>
        {{/itsme}}
    {{/isdelayed}}

    {{#submissions}}
        {{> mod_evokeportfolio/social_submission }}
    {{/submissions}}
    {{^submissions}}
        <div class="alert alert-warning mt-2" role="alert">
            <h3>{{#str}}nosubmissions, mod_evokeportfolio{{/str}}</h3>
            <p class="mb-0">{{#str}}nosubmissions_desc, mod_evokeportfolio{{/str}}</p>
        </div>
    {{/submissions}}
</div>

{{#js}}
    require([
            'mod_evokeportfolio/addcomment',
            'mod_evokeportfolio/tribute_init',
            'mod_evokeportfolio/comment',
            'mod_evokeportfolio/togglelike'
        ], function(AddComment, TributeInit, Comment, ToggleLike) {
            AddComment.init();

            TributeInit.init();

            Comment.init();

            ToggleLike.init();
    });
{{/js}}