{{#submissions}}
    <div class="submission p-2 {{#isteacher}}isteacher{{/isteacher}}">
        <div class="header">
            {{#isteacher}}
                <div class="userinfo">
                    <img src="{{userpicture}}" alt="{{fullname}}" class="img-rounded img-24 img-bordered"> <h3>{{fullname}}</h3>
                </div>
            {{/isteacher}}
            {{#isowner}}
                {{#cmid}}
                    <div class="actions">
                        <a class="btn btn-primary btn-sm" href="{{config.wwwroot}}/mod/evokeportfolio/submit.php?id={{cmid}}&submissionid={{id}}&sectionid={{sectionid}}">
                        <i class="fa fa-pencil"></i> {{#str}}page_view_editsubmission, mod_evokeportfolio{{/str}}
                        </a>
                    </div>
                {{/cmid}}
            {{/isowner}}
        </div>
        <div class="content">
            {{#comment}}
                <p class="comment">{{#str}}page_submissions_portfoliocomment, mod_evokeportfolio{{/str}}</p>
                <div>
                    {{{.}}}
                </div>
            {{/comment}}

            {{#hasattachments}}
                {{#attachments}}
                    <div class="attachment">
                        {{#isimage}}
                            <img src="{{fileurl}}" class="img-responsive" alt="{{filename}}">
                        {{/isimage}}
                        {{^isimage}}
                            <div class="fileinfo">
                                <i class="fa fa-file-pdf-o"></i>&nbsp;{{#str}}page_submissions_portfolioattachment, mod_evokeportfolio{{/str}}
                            </div>
                            <div class="filedownload">
                                <a href="{{fileurl}}" class="btn btn-secondary btn-sm">{{#str}}downloadfile, mod_evokeportfolio{{/str}}</a>
                            </div>
                        {{/isimage}}
                    </div>
                {{/attachments}}
            {{/hasattachments}}
        </div>
    </div>
{{/submissions}}