<div class="gradingsummary mb-2 p-2 border-radius" style="border: 1px solid #d7dfe3;">
    <div class="row">
        <div class="col-4">
            <p class="mb-0 font-weight-bold">{{#str}}datelimit, mod_evokeportfolio{{/str}}</p>
            <p class="mb-0">{{{datelimit}}}</p>
        </div>
        <div class="col-4">
            <p class="mb-0 font-weight-bold">{{#str}}page_view_timeremaining, mod_evokeportfolio{{/str}}</p>
            <p class="mb-0">
                {{#isdelayed}}
                    <span class="badge badge-danger">{{{timeremaining}}}</span>
                {{/isdelayed}}
                {{^isdelayed}}
                    {{{timeremaining}}}
                {{/isdelayed}}
            </p>
        </div>

        {{#groupactivity}}
            <div class="col-4">
                <p class="mb-0 font-weight-bold">{{#str}}groupactivity, mod_evokeportfolio{{/str}}</p>
                <p class="mb-0">{{#str}}yes{{/str}}</p>
            </div>
        {{/groupactivity}}
    </div>
</div>

{{#hasgroupsmembers}}
    <div class="mb-2 p-2 border-radius" style="border: 1px solid #d7dfe3;">
        <h3 class="h5">{{#str}}myteam, mod_evokeportfolio{{/str}}</h3>
        {{#groupsmembers}}
            <div class="groupmember">
                <a href="{{config.wwwroot}}/local/evokegame/profile.php?id={{courseid}}&userid={{id}}">
                    <img src="{{userpicture}}" alt="{{fullname}}"> {{fullname}}
                </a>
            </div>
        {{/groupsmembers}}
    </div>
{{/hasgroupsmembers}}

{{^isdelayed}}
    <div class="actions my-3">
        <a class="btn btn-primary" href="{{config.wwwroot}}/mod/evokeportfolio/submit.php?id={{cmid}}{{#embed}}&embed=1{{/embed}}">
        {{#str}}page_view_addsubmission, mod_evokeportfolio{{/str}}
        </a>
    </div>
{{/isdelayed}}

<ul class="nav nav-pills" id="portfolios-tab" role="tablist">
    {{^groupactivity}}
        <li class="nav-item">
            <button class="nav-link active"
                    id="myportfolio-tab"
                    data-toggle="tab"
                    data-target="#myportfolio"
                    type="button"
                    role="tab"
                    aria-controls="myportfolio"
                    aria-selected="true"
                    data-timeline_type="my"
                    data-timeline_offset="0"
                    data-timeline_portfolioid="{{{portfolioid}}}"
                    data-timeline_hasmoreitems="true">
                {{#str}}myportfolio, mod_evokeportfolio{{/str}}
            </button>
        </li>
    {{/groupactivity}}
    {{#hasgroup}}
        <li class="nav-item">
            <button class="nav-link {{#groupactivity}}active{{/groupactivity}}"
                    id="teamportfolio-tab"
                    data-toggle="tab"
                    data-target="#teamportfolio"
                    type="button"
                    role="tab"
                    aria-controls="teamportfolio"
                    aria-selected="false"
                    data-timeline_type="team"
                    data-timeline_offset="0"
                    data-timeline_portfolioid="{{{portfolioid}}}"
                    data-timeline_hasmoreitems="true">
                {{#str}}teamportfolio, mod_evokeportfolio{{/str}}
            </button>
        </li>
    {{/hasgroup}}
    <li class="nav-item">
        <button class="nav-link {{#groupactivity}}{{^hasgroup}}active{{/hasgroup}}{{/groupactivity}}"
                id="networkportfolio-tab"
                data-toggle="tab"
                data-target="#networkportfolio"
                type="button"
                role="tab"
                aria-controls="networkportfolio"
                aria-selected="false"
                data-timeline_type="network"
                data-timeline_offset="0"
                data-timeline_portfolioid="{{{portfolioid}}}"
                data-timeline_hasmoreitems="true">
            {{#str}}networkportfolio, mod_evokeportfolio{{/str}}
        </button>
    </li>
</ul>

<div class="tab-content" id="submissions" data-courseid="{{{courseid}}}">
    {{^groupactivity}}
        <div class="tab-pane fade show active" id="myportfolio" role="tabpanel" aria-labelledby="myportfolio-tab">
            <div class="submissions mt-2 timeline" data-courseid="{{{courseid}}}">
                {{> mod_evokeportfolio/timeline_loading_placeholder }}
            </div>
        </div>
    {{/groupactivity}}
    {{#hasgroup}}
        <div class="tab-pane fade {{#groupactivity}}show active{{/groupactivity}}" id="teamportfolio" role="tabpanel" aria-labelledby="teamportfolio-tab">
            <div class="submissions mt-2 timeline" data-courseid="{{{courseid}}}">
                {{> mod_evokeportfolio/timeline_loading_placeholder }}
            </div>
        </div>
    {{/hasgroup}}
    <div class="tab-pane fade {{#groupactivity}}{{^hasgroup}}show active{{/hasgroup}}{{/groupactivity}}" id="networkportfolio" role="tabpanel" aria-labelledby="networkportfolio-tab">
        <div class="submissions mt-2 timeline" data-courseid="{{{courseid}}}">
            {{> mod_evokeportfolio/timeline_loading_placeholder }}
        </div>
    </div>
</div>

{{#js}}
    require([
        'mod_evokeportfolio/addcomment',
        'mod_evokeportfolio/editcomment',
        'mod_evokeportfolio/togglelike',
        'mod_evokeportfolio/thumb',
        'mod_evokeportfolio/infinitescroll'
    ], function(AddComment, EditComment, ToggleLike, Thumb, InfiniteScroll) {
    AddComment.init();

    EditComment.init({{{contextid}}});

    ToggleLike.init();

    Thumb.init();

    {{^groupactivity}}
        InfiniteScroll.init({{{courseid}}}, 'my');
    {{/groupactivity}}
    {{#groupactivity}}
        {{#hasgroup}}
            InfiniteScroll.init({{{courseid}}}, 'team', true);
        {{/hasgroup}}
        {{^hasgroup}}
            InfiniteScroll.init({{{courseid}}}, 'network', true);
        {{/hasgroup}}
    {{/groupactivity}}
    });
{{/js}}