<h2>{{{name}}}</h2>

<div id="intro" class="box py-3 generalbox boxaligncenter">{{{intro}}}</div>

<div class="submissionheader row">
    <div class="col-md-9">
        <h3>{{#str}}user{{/str}}: {{userfullname}}</h3>
    </div>
    <div class="col-md-3 text-right">
        <img src="{{userpicture}}" alt="{{userfullname}}" class="img-responsive">
    </div>
</div>

<div class="mb-3 text-center">
    <a class="btn btn-primary" href="{{config.wwwroot}}/mod/evokeportfolio/comment.php?id={{cmid}}&userid={{userid}}">{{#str}}page_viewsubmission_addcomment, mod_evokeportfolio{{/str}}</a>
    {{^isgradinglocked}}
        <a class="btn btn-secondary" href="{{config.wwwroot}}/mod/evokeportfolio/grade.php?id={{cmid}}&userid={{userid}}">
            {{#userhasgrade}}
                {{#str}}page_viewsubmission_editgrade, mod_evokeportfolio{{/str}}
            {{/userhasgrade}}
            {{^userhasgrade}}
                {{#str}}page_viewsubmission_addgrade, mod_evokeportfolio{{/str}}
            {{/userhasgrade}}
        </a>
    {{/isgradinglocked}}
</div>

<div class="submissions">
    {{#submissions}}
        <div class="submission p-2 {{#isteacher}}isteacher{{/isteacher}}">
            <div class="content">
                {{#comment}}
                    <p class="comment">{{#str}}page_submissions_portfoliocomment, mod_evokeportfolio{{/str}}</p>
                    <div>
                        {{{.}}}
                    </div>
                {{/comment}}

                {{#hasattachments}}
                    {{#attachments}}
                        <div class="attachment">
                            {{#isimage}}
                                <img src="{{fileurl}}" class="img-responsive" alt="{{filename}}">
                            {{/isimage}}
                            {{^isimage}}
                                <div class="fileinfo">
                                    <i class="fa fa-file-pdf-o"></i>&nbsp;{{#str}}page_submissions_portfolioattachment, mod_evokeportfolio{{/str}}
                                </div>
                                <div class="filedownload">
                                    <a href="{{fileurl}}" class="btn btn-secondary btn-sm">{{#str}}downloadfile, mod_evokeportfolio{{/str}}</a>
                                </div>
                            {{/isimage}}
                        </div>
                    {{/attachments}}
                {{/hasattachments}}
            </div>
        </div>
    {{/submissions}}
</div>
