<h2>{{{name}}}</h2>

<div id="intro" class="box py-3 generalbox boxaligncenter">{{{intro}}}</div>

<div class="gradingsummary mb-2 p-2" style="border: 1px solid #d7dfe3;">
    <div class="row">
        <div class="col-4">
            <p class="mb-0 font-weight-bold">{{#str}}datelimit, mod_evokeportfolio{{/str}}</p>
            <p class="mb-0">{{{datelimit}}}</p>
        </div>
        <div class="col-4">
            <p class="mb-0 font-weight-bold">{{#str}}page_view_timeremaining, mod_evokeportfolio{{/str}}</p>
            <p class="mb-0">
                {{#isdelayed}}
                    <span class="badge badge-danger">{{{timeremaining}}}</span>
                {{/isdelayed}}
                {{^isdelayed}}
                    {{{timeremaining}}}
                {{/isdelayed}}
            </p>
        </div>
    </div>
</div>

<div id="submissions" class="submissions mt-2" data-courseid="{{{courseid}}}">
    {{^isdelayed}}
        <div class="actions">
            <a class="btn btn-primary" href="{{config.wwwroot}}/mod/evokeportfolio/submit.php?id={{cmid}}{{#embed}}&embed=1{{/embed}}">
                {{#str}}page_view_addsubmission, mod_evokeportfolio{{/str}}
            </a>
        </div>
    {{/isdelayed}}

    {{#submissions}}
        {{> mod_evokeportfolio/submission }}
    {{/submissions}}

    {{^submissions}}
        <div class="alert alert-warning mt-2" role="alert">
            <h3>{{#str}}nosubmissions, mod_evokeportfolio{{/str}}</h3>
            <p class="mb-0">{{#str}}nosubmissions_desc, mod_evokeportfolio{{/str}}</p>
        </div>
    {{/submissions}}
</div>

{{#js}}
    require([
        'mod_evokeportfolio/addcomment',
        'mod_evokeportfolio/tribute_init',
        'mod_evokeportfolio/togglelike'
    ], function(AddComment, TributeInit, ToggleLike) {
        AddComment.init();

        TributeInit.init();

        ToggleLike.init();
    });
{{/js}}