<div class="gradingsummary">
    <h3>{{#str}}page_view_gradingsummary,  mod_evokeportfolio{{/str}}</h3>

    <div class="box py-3 boxaligncenter gradingsummarytable">
        <table class="generaltable">
            <tbody>
            <tr>
                <th class="cell c0" scope="row">{{#str}}page_view_hidden, mod_evokeportfolio{{/str}}</th>
                <td class="cell c1 lastcol">
                    {{#hide}}
                        {{#str}}no{{/str}}
                    {{/hide}}
                    {{^hide}}
                        {{#str}}yes{{/str}}
                    {{/hide}}
                </td>
            </tr>
            <tr>
                <th class="cell c0" scope="row">{{#str}}page_view_participants, mod_evokeportfolio{{/str}}</th>
                <td class="cell c1 lastcol">{{{participants}}}</td>
            </tr>
            <tr>
                <th class="cell c0" scope="row">{{#str}}datelimit, mod_evokeportfolio{{/str}}</th>
                <td class="cell c1 lastcol">{{{datelimit}}}</td>
            </tr>
            <tr class="lastrow">
                <th class="cell c0" scope="row">{{#str}}page_view_timeremaining, mod_evokeportfolio{{/str}}</th>
                <td class="cell c1 lastcol">
                    {{#isdelayed}}
                        <span class="badge badge-danger">{{{timeremaining}}}</span>
                    {{/isdelayed}}
                    {{^isdelayed}}
                        {{{timeremaining}}}
                    {{/isdelayed}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="submissionlinks text-center">
    <a class="btn btn-primary" href="{{config.wwwroot}}/mod/evokeportfolio/entries.php?id={{{cmid}}}">{{#str}}page_view_viewallsubmissions, mod_evokeportfolio{{/str}}</a>
</div>