<h2>{{{name}}}</h2>

<div id="intro" class="box py-3 generalbox boxaligncenter">{{{intro}}}</div>

<div class="gradingsummary mb-2 p-2" style="border: 1px solid #d7dfe3;">
    <div class="row">
        <div class="col-4">
            <p class="mb-0 font-weight-bold">{{#str}}datelimit, mod_evokeportfolio{{/str}}</p>
            <p class="mb-0">{{{datelimit}}}</p>
        </div>
        <div class="col-4">
            <p class="mb-0 font-weight-bold">{{#str}}groupactivity, mod_evokeportfolio{{/str}}</p>
            <p class="mb-0">
                {{#groupactivity}}
                    {{#str}}yes{{/str}}
                {{/groupactivity}}
                {{^groupactivity}}
                    {{#str}}no{{/str}}
                {{/groupactivity}}
            </p>
        </div>
        <div class="col-4">
            <p class="mb-0 font-weight-bold">{{#str}}page_view_timeremaining, mod_evokeportfolio{{/str}}</p>
            <p class="mb-0">
                {{#isdelayed}}
                    <span class="badge badge-danger">{{{timeremaining}}}</span>
                {{/isdelayed}}
                {{^isdelayed}}
                    {{{timeremaining}}}
                {{/isdelayed}}
            </p>
        </div>
    </div>
    {{#groupactivity}}
        <hr class="my-2">
        <div class="row">
            <div class="col-6">
                <p class="mb-0 font-weight-bold">{{#str}}groupgradingmode, mod_evokeportfolio{{/str}}</p>
                <p class="mb-0">{{groupgradingmodetext}}</p>
            </div>
            {{#hasgroup}}
                <div class="col-6">
                    <p class="mb-0 font-weight-bold">{{#str}}group{{/str}}</p>
                    <p class="mb-0">{{groupname}}</p>
                </div>
            {{/hasgroup}}
        </div>
        {{#hasgroup}}
            <div class="row">
                <div class="col">
                    <p class="mb-0 font-weight-bold">{{#str}}groupmembers{{/str}}</p>
                    {{#groupmembers}}
                        <div class="groupmember">
                            <img src="{{userpicture}}" alt="{{fullname}}"> {{fullname}}
                        </div>
                    {{/groupmembers}}
                </div>
            </div>
        {{/hasgroup}}
    {{/groupactivity}}
</div>

{{^issinglesection}}
    {{#sections}}
        <div class="card mb-2" style="border: 1px solid #d7dfe3;">
            <div class="card-body">
                <h5 class="card-title">{{{name}}}</h5>
                {{#description}}
                    <p class="mb-0">{{{description}}}</p>
                {{/description}}
                {{^hasaccess}}
                    <div class="alert alert-warning mt-4" role="alert">
                        {{#str}}nohavesectionaccess, mod_evokeportfolio{{/str}}
                    </div>
                {{/hasaccess}}
            </div>
            {{#hasaccess}}
                <div class="card-footer text-muted">
                    <a class="btn btn-primary" href="{{{config.wwwroot}}}/mod/evokeportfolio/section.php?id={{{cmid}}}&sectionid={{{id}}}">{{#str}}page_view_submissions, mod_evokeportfolio{{/str}}</a>
                </div>
            {{/hasaccess}}
        </div>
    {{/sections}}
{{/issinglesection}}

