<h2>{{{name}}}</h2>

<div id="intro" class="box py-3 generalbox boxaligncenter">{{{intro}}}</div>

<div class="submissionheader row">
    <div class="col-md-9">
        <h3>{{#str}}user{{/str}}: {{targetuserfullname}}</h3>
        {{#usergroup}}
            <h4>{{#str}}group{{/str}}: {{usergroup}}</h4>
        {{/usergroup}}
    </div>
    <div class="col-md-3 text-right">
        <img src="{{targetuserpicture}}" alt="{{targetuserfullname}}" class="img-responsive userpicture">
    </div>
</div>

<div class="mb-3">
    {{^isgradinglocked}}
        <a class="btn btn-secondary" href="{{config.wwwroot}}/mod/evokeportfolio/grade.php?id={{cmid}}&userid={{userid}}">
            {{#userhasgrade}}
                {{#str}}page_viewsubmission_editgrade, mod_evokeportfolio{{/str}}
            {{/userhasgrade}}
            {{^userhasgrade}}
                {{#str}}page_viewsubmission_addgrade, mod_evokeportfolio{{/str}}
            {{/userhasgrade}}
        </a>
    {{/isgradinglocked}}
</div>

<div class="submissions">
    {{#sectionssubmissions}}
        {{#issinglesection}}
            {{>mod_evokeportfolio/sectionsubmissions}}
        {{/issinglesection}}
        {{^issinglesection}}
            <div class="accordion mb-2" id="sectionssubmissions-accordion">
                <div class="card">
                    <div class="card-header" id="heading-{{id}}">
                        <h2 class="mb-0">
                            <button class="accordion-button" type="button" data-toggle="collapse" data-target="#collapse-{{id}}" aria-expanded="true" aria-controls="collapse-{{id}}">
                                {{name}}
                            </button>
                        </h2>
                    </div>

                    <div id="collapse-{{id}}" class="collapse" aria-labelledby="heading-{{id}}" data-parent="#sectionssubmissions-accordion">
                        <div class="card-body">
                            {{>mod_evokeportfolio/submissions}}
                        </div>
                    </div>
                </div>
            </div>
        {{/issinglesection}}
    {{/sectionssubmissions}}
</div>
