<h2>{{{name}}}</h2>

<div id="intro" class="box py-3 generalbox boxaligncenter">{{{intro}}}</div>

<div class="submissionheader row">
    <div class="col-md-9">
        <h3>{{#str}}user{{/str}}: {{targetuserfullname}}</h3>
        {{#usergroup}}
            <h4>{{#str}}group{{/str}}: {{usergroup}}</h4>
        {{/usergroup}}
    </div>
    <div class="col-md-3 text-right">
        <img src="{{targetuserpicture}}" alt="{{targetuserfullname}}" class="img-responsive userpicture">
    </div>
</div>

<div class="mb-3">
    {{^isgradinglocked}}
        {{#cangrade}}
            <a class="btn btn-secondary" href="{{config.wwwroot}}/mod/evokeportfolio/grade.php?id={{cmid}}&userid={{userid}}">
                {{#userhasgrade}}
                    {{#str}}page_viewsubmission_editgrade, mod_evokeportfolio{{/str}}
                {{/userhasgrade}}
                {{^userhasgrade}}
                    {{#str}}page_viewsubmission_addgrade, mod_evokeportfolio{{/str}}
                {{/userhasgrade}}
            </a>
        {{/cangrade}}
    {{/isgradinglocked}}
</div>

{{#submissions}}
    <div id="submissions" class="submissions mt-2" data-courseid="{{{courseid}}}">
        {{> mod_evokeportfolio/submission }}
    </div>
{{/submissions}}

{{#js}}
    require([
        'mod_evokeportfolio/addcomment',
        'mod_evokeportfolio/tribute_init',
        'mod_evokeportfolio/togglelike'
    ], function(AddComment, TributeInit, ToggleLike) {
        AddComment.init();

        TributeInit.init();

        ToggleLike.init();
    });
{{/js}}
