<h2>{{{name}}}</h2>

<div id="intro" class="box py-3 generalbox boxaligncenter">{{{intro}}}</div>

<div class="submissionssummary">
    {{#groupactivity}}
        <h3>{{#str}}groupactivity, mod_evokeportfolio{{/str}}</h3>
        <hr>
        <h5>{{#str}}group{{/str}}: {{groupname}}</h5>
        <p>
            <b>{{#str}}groupmembers{{/str}}</b>:
            {{#groupmembers}}
                <div class="groupmember">
                    <img src="{{userpicture}}" alt="{{fullname}}"> {{fullname}}
                </div>
            {{/groupmembers}}
        </p>
    {{/groupactivity}}
    {{^groupactivity}}
        <h3>{{#str}}individualctivity, mod_evokeportfolio{{/str}}</h3>
        <hr>
        <h5>{{#str}}user{{/str}}: {{userfullname}}</h5>
    {{/groupactivity}}
</div>

<div class="mb-3 text-center">
    {{#groupactivity}}
        <a class="btn btn-primary" href="{{config.wwwroot}}/mod/evokeportfolio/comment.php?id={{cmid}}&groupid={{groupid}}">{{#str}}page_viewsubmission_addcomment, mod_evokeportfolio{{/str}}</a>
        <a class="btn btn-secondary" href="{{config.wwwroot}}/mod/evokeportfolio/grade.php?id={{cmid}}&groupid={{groupid}}">{{#str}}page_viewsubmission_addgrade, mod_evokeportfolio{{/str}}</a>
    {{/groupactivity}}
    {{^groupactivity}}
        <a class="btn btn-primary" href="{{config.wwwroot}}/mod/evokeportfolio/comment.php?id={{cmid}}&userid={{userid}}">{{#str}}page_viewsubmission_addcomment, mod_evokeportfolio{{/str}}</a>
        <a class="btn btn-secondary" href="{{config.wwwroot}}/mod/evokeportfolio/grade.php?id={{cmid}}&userid={{userid}}">{{#str}}page_viewsubmission_addgrade, mod_evokeportfolio{{/str}}</a>
    {{/groupactivity}}
</div>

<div class="submissions">
    {{#submissions}}
        <div class="jumbotron p-2 mb-2 {{#isteacher}}isteacher{{/isteacher}}">
            <h3><img src="{{userpicture}}" alt="{{fullname}}" class="img-rounded img-24 img-bordered"> {{fullname}}</h3>

            <h4 class="mb-0">{{#str}}page_submissions_portfoliotext, mod_evokeportfolio{{/str}}</h4>
            {{#comment}}
                <div class="border-white">
                    {{{.}}}
                </div>
            {{/comment}}

            <h4 class="mb-0 mt-2">{{#str}}page_submissions_portfolioattachment, mod_evokeportfolio{{/str}}</h4>
            <div class="border-white row mx-0">
                <div class="col-6 mx-0">
                    <i class="fa fa-file-pdf-o"></i> Attachment file
                </div>
                <div class="col-6 mx-0 text-right">
                    <a href="#" class="btn btn-secondary btn-sm">Download file</a>
                </div>
            </div>
        </div>
    {{/submissions}}
</div>
